/* = content.css
--------------------------------------------------- */

/** Page Header **/
.page-header {
	margin-bottom: 24px;
}
.page-header .page-title {
	display: block;
	font: normal 30px/36px 'Open Sans Condensed', sans-serif;
	color: #222;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	text-shadow: 0 0 none;
}
.home .page-header {
	padding: 0 10px;
	background: transparent url('images/bg-page-header.png') 0 0 repeat-x;
	height: 40px;
}
.home .page-header .page-title {
	color: #fff;
	line-height: 40px;
}


/** Entry **/
.entry {
	margin: 0 0 24px 0;
}
.entry .entry-thumbnail {
	margin: 0;
	padding: 0;
	background: #000 none;
}
.entry .entry-thumbnail a {
	display: block;
	margin: 0;
	padding: 0;
}
.entry .entry-thumbnail img {
	display: block;
	margin: 0;
	padding: 0;
}
.entry .entry-header {
	position: relative
}
.entry .entry-title {
	position: absolute;
	padding: 10px;
	left: 0;
	bottom: 10px;
	color: #fff;
	background: #000 none;
	text-shadow: 0 0 0 transparent;
	font: normal 22px/25px 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	margin: 0;
}
.entry .entry-title a {
	color: #fff;
	text-decoration: none;
}
.entry .entry-title a:hover {
	text-decoration: underline;
}
.entry .meta {
	display: block;
	margin: 0;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	background: transparent url('images/bg-entry-meta.png') 0 0 repeat-x;
	color: #222;
	text-shadow: 0 1px 0 #999;
}
.entry .meta a {
	color: #172a5b;
}
.entry .meta span {
	display: block;
}
.entry .meta .author-time {
	float: left;
}
.entry .meta .comment-cat {
	float: right;
}
.entry .meta .category {
	display: inline-block;
}
.entry .meta .comments {
	display: inline-block;
	padding: 0 0 0 24px;
	margin: 0 0 0 10px;
	background: transparent url('images/bg-comment-count.png') 0 50% no-repeat;
}

/** Singular Posts **/
.singular .entry-header,
.search .not-found .entry-header {
	margin: 0 0 1.5em 0;
}
.singular .entry-title,
.search .not-found .entry-title  {
	position: relative;
	padding: 0;
	bottom: 0;
	color: #222;
	background: transparent none;
	font: normal 30px/36px 'Open Sans Condensed', sans-serif;
	margin: 0;
}
.singular  .entry-title a {
	color: #222;
	text-shadow: #fff 0 1px;
}

/** Entry Boxes **/
.entry-box {
	margin: 0 0 30px 0;
}
.entry-box .entry-box-header {
	margin: 0 0 10px 0;
	border-bottom: 1px dashed #ccc;
}
.entry-box .entry-box-title {
	display: block;
	margin: 0;
	padding: 0 0 0 50px;
	height: 50px;
	font: normal 22px/50px 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
}
.entry-box-about-author img {
	float: left;
	margin: 0 10px 0 0;
}
.entry-box-share ul {
	display: block;
	list-style: none;
	margin: 11px 0 0 36px;
	padding: 0;
}
.entry-box-share ul li {
	display: block;
	margin: 10px 15px 0 0;
	padding: 0;
	float: left;
}
.entry-box-share ul li a {
	display: block;
	float: left;
}
.entry-box-share ul li a img {
	border: 0 none;
	padding: 0;
}
.entry-box-reply {
	margin: 0;
}
.entry-box-about-author .entry-box-title {
	background: transparent url('images/bg-post-box-author.png') 0 0 no-repeat;
}
.entry-box-share .entry-box-title {
	background: transparent url('images/bg-post-box-spread-love.png') 0 0 no-repeat;
}
.entry-box-related .entry-box-title {
	background: transparent url('images/bg-post-box-related-posts.png') 0 0 no-repeat;
}
.entry-box-replies .entry-box-title {
	background: transparent url('images/bg-post-box-comments.png') 0 0 no-repeat;
}
.entry-box-trackbacks .entry-box-title {
	background: transparent url('images/bg-post-box-trackbacks.png') 0 0 no-repeat;
}
.entry-box-reply .entry-box-title {
	background: transparent url('images/bg-post-box-comment-add.png') 0 0 no-repeat;
}