
/** Slideshow **/
#slideshow-box {
	width: 960px;
	height: 300px;
	overflow: hidden;
	background: #000 none;
	position: relative;
}
#slideshow-box .list {
	position: relative;
	width: 960px;
	height: 300px;
}
#slideshow-box .list .item {
	width: 960px;
	height: 300px;
	position: relative;
	margin: 0;
	padding: 0;
}
#slideshow-box .item .image img {
	display: block;
	border: 0 none;
}
#slideshow-box .item .image a {
	display: block;
}

#slideshow-box .item .meta {
	position: absolute;
	padding: 10px;
	left: 0;
	bottom: 10px;
	color: #fff;
	background: #000 none;
	text-shadow: 0 0 0 transparent;
}
#slideshow-box .item .meta h3 {
	font: normal 22px/25px 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	margin: 0;
}
#slideshow-box .item .meta a {
	color: #fff;
	text-decoration: none;
}
#slideshow-box .item .meta a:hover {
	text-decoration: underline;
}

.dir-button {
	width: 43px;
	height: 85px;
	position: absolute;
	top: 108px;
	cursor: pointer;
	background: transparent url('images/arrow-slideshow.png') 0 0 no-repeat;
}
.dir-button-l {
	left: 10px;
	background-position: 0 0;
}
.dir-button-r {
	right: 10px;
	background-position: 0 100%;
}